<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="Sbox">
    <div class="list">
        <div class="img"><img src="/images/img_1.jpg" alt=""></div>
        <div class="price">¥8888888888888.00</div>
        <div class="title">积年货,全场1折处理</div>
    </div>
    <div class="list">
        <div class="img"><img src="/images/img_2.jpg" alt=""></div>
        <div class="price">¥8888888888888.00</div>
        <div class="title">积年货,全场1折处理</div>
    </div>
    <div class="list">
        <div class="img"><img src="/images/img_3.jpg" alt=""></div>
        <div class="price">¥8888888888888.00</div>
        <div class="title">积年货,全场1折处理</div>
    </div>
    <div class="list">
        <div class="img"><img src="/images/img_4.jpg" alt=""></div>
        <div class="price">¥8888888888888.00</div>
        <div class="title">积年货,全场1折处理</div>
    </div>
    <div class="list">
        <div class="img"><img src="/images/img_5.jpg" alt=""></div>
        <div class="price">¥8888888888888.00</div>
        <div class="title">积年货,全场1折处理</div>
    </div>

</div>
</body>
</html>