<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8">
	<title>首页</title>
	<link rel="stylesheet" type="text/css" href="/css/css.css"/>
	<script th:src="@{~/common/myJs.jsp}"></script>
<!--	<link rel="stylesheet" type="text/css" href="css/css.css">
	<script src="http://how2j.cn/study/js/jquery/2.0.0/jquery.min.js"></script>
	<link href="http://how2j.cn/study/css/bootstrap/3.3.6/bootstrap.min.css" rel="stylesheet">
	<script src="http://how2j.cn/study/js/bootstrap/3.3.6/bootstrap.min.js"></script>-->
	<input type="hidden" name="shpid" th:value="${shpid}"/>
</head>
<body>
	<div class="top">
		<div class="top_text">
			<a href="">用户登录</a>
			<a href="">用户注册</a>
			<a href="">供应商登录</a>
			<a href="">供应商注册</a>
		</div>
	</div>
	<!--<div class="top_img">
		<img src="./images/top_img.jpg" alt="">
	</div>-->
	<div class="search searchBac">
		<div class="logo"><img src="/images/logo.png" alt=""></div>
		<!--<div class="search_on">
			<div class="se">
				<input type="text" name="search" class="lf">
				<input type="submit" class="clik" value="搜索">
			</div>
			<div class="se">
				<a href="">取暖神奇</a>
				<a href="">1元秒杀</a>
				<a href="">吹风机</a>
				<a href="">玉兰油</a>
			</div>
		</div>-->
		<div class="card" onmouseover="onshowtwo()">
			<a href="">购物车<div class="num">0</div></a>
			
			<!--购物车商品-->
			<div class="cart_pro" onmouseout="onhidetwo()">
				<h6>最新加入的商品</h6>
				<div class="one" >
					<img src="/images/lec1.png"/>
					<span class="one_name">
						商品名称商品名称商品名称商品名称
					</span>
					<span class="one_prece">
						<b>￥20000</b><br />
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;删除
					</span>-->
				</div>

				<div class="one border">
					<img src="/images/lec1.png"/>
					<span class="one_name">
						商品名称商品名称商品名称商品名称
					</span>
					<span class="one_prece">
						<b>￥20000</b><br />
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;删除
					</span>
				</div>
				<div class="one border">
					<img src="/images/lec1.png"/>
					<span class="one_name">
						商品名称商品名称商品名称商品名称
					</span>
					<span class="one_prece">
						<b>￥20000</b><br />
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;删除
					</span>
				</div>


				<div class="gobottom">
					共<span>2</span>件商品&nbsp;&nbsp;&nbsp;&nbsp;
					共计￥<span>20000</span>
					<button class="goprice">去购物车</button>
				</div>
				
				
			</div>
			
		</div>
	</div>
	<div class="menu">
		<div class="nav">
			<div class="navs">
				<div class="left_nav">
					全部商品分类
					<div class="nav_mini" style="display:none">

					</div>
				</div>
				<ul id="uu">
				</ul>
			</div>
		</div>
	</div>
	
	<div class="Dbox">
		<div class="box">
			<div class="left">
				<div class="timg"><img src="" alt=""></div>
				<div class="timg2">
					<div class="lf"><img src="" alt=""></div>
					<div class="center" id="cen">

					</div>
					<div class="rg"><img src="" alt=""></div>
				</div>
				<div class="goods"><img src="" alt=""></div>
			</div>
			<div class="center">
				<div class="detailsShp">
				</div>
			</div>
		</div>
	</div>



<!-- 回显当前商品详细信息 -->
	<!-------------------------------------->
	<div class="Dbox1">
		<div class="boxbottom">
			<div class="top">
				<span>商品评论</span>
				<span onclick="pinlun()" data-toggle="modal" data-target="#myModal">评价</span>
			</div>
			<div class="btm">

			</div>
		</div>
	</div>

	<!--评论 列表 -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
					<h4 class="modal-title">评论一番吧</h4>
				</div>
				<div class="modal-body">
					<p></p>
					<div>服务如何：</div>
					<form>

						<input type="hidden"  name="shp_id" th:value="${shpid}">
						<div class="btn-group" data-toggle="buttons">
							<label class="btn btn-default active">
								<input type="checkbox" name="hpjb" value="1">🌞
							</label>
							<label class="btn btn-default">
								<input type="checkbox" name="hpjb" value="2">🌞
							</label>
							<label class="btn btn-default">
								<input type="checkbox" name="hpjb" value="3">🌞
							</label>
							<label class="btn btn-default">
								<input type="checkbox" name="hpjb" value="4">🌞
							</label>
							<label class="btn btn-default">
								<input type="checkbox" name="hpjb" value="5">🌞
							</label>
							<div>评论评论吧：</div>
							<textarea  name="plnr">

                    </textarea>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button data-dismiss="modal" class="btn btn-default" type="button">关闭</button>
					<button class="btn btn-primary" onclick="add()" type="button">提交</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div>

</body>
<script type="text/javascript">

    $(function(){
        details(shpid);
        good();
		getTitle();
        onhidetwo();
    })
	function getTitle(){
		$.ajax({
			url:"/tit/getTitle",
			type:"POST",
			success:function(pageUtil){
				var count=''
				$.each(pageUtil,function (index,obj) {
					count +="<li><a href='/tit/toshow?name="+obj.href+"'><font size='4px'>"+obj.text+"</font></a></li>"
				})
				$("#uu").append(count)
			},
			error:function(){
				alert("失败了");
			}
		});
	}
    var shpid=$("[name='shpid']").val();
	function details(shpid) {
		$.ajax({
			url:'/details/querydetails?shpid='+shpid,
			type:'post',
			success:function (result) {
				var html = "";
                var cc="";
				for (var i = 0; i < result.length; i++) {
				    var a = "<span><img src="+result[i].shp_tp+" alt=\"\"></span>";
				    $("#cen").html(a);

					html+="<div class='cent'>"
					html+="<input type='hidden' id='shuIdValue' value='"+result[i].sku_id+"'>"
					html+="<div class='title' id='tt'><strong>"+result[i].shp_mch+"</strong></div>"
					html+="<div class='bg'>\n" +
							"\t\t\t\t\t<p id='markId'>市场价：<strong>￥"+ result[i].sku_jg +"</strong></p>\n" +
							"\t\t\t\t\t<p>促销价：<strong>￥"+ result[i].sku_jg +"</strong></p>\n" +
							"\t\t\t\t</div>"   //shp_tp
					cc+="<img src=/'"+result[i].shp_tp+"' id='imgOneId'>"
					html+="<div class='clear'>\n" +
							"\t\t\t\t\t<div class='min_t'>选择版本：</div>\n" +
							"\t\t\t\t\t<div class='min_mx' onclick=func($(this),'0')>"+ result[i].banben +"</div>\n" +
							"\t\t\t\t</div>"
					html+="<div class='clear'>\n" +
							"\t\t\t\t\t<div class='min_t' onclick=func($(this),'1')>服务：</div>\n" +
							"\t\t\t\t\t<div class='min_mx' onclick=func($(this),'1')>"+ result[i].fuwu +"</div>\n" +
							"\t\t\t\t</div>"
					html+="<div class='clear' style='margin-top:20px;'>\n" +
							"\t\t\t\t\t<div class='min_t' style='line-height:36px'>数量：</div>\n" +
							"\t\t\t\t\t<div class='num_box'>\n" +
							"\t\t\t\t\t\t<input type='text' name='num' value='1' style='width:40px;height:32px;text-align:center;float:left'>\n" +
							"\t\t\t\t\t\t<div class='rg'>\n" +
							"\t\t\t\t\t\t\t<img src='images/jia.jpg' id='jia' alt=''>\n" +
							"\t\t\t\t\t\t\t<img src='images/jian.jpg' id='jian' alt=''>\n" +
							"\t\t\t\t\t\t</div>\n" +
							"\t\t\t\t\t</div>\n" +
							"\t\t\t\t</div>"
					html+="<div class='clear' style='margin-top:20px;'>\n" +
							"\t\t\t\t\t<img src='/images/mai.jpg' alt=''>\n" +
							"\t\t\t\t\t<img src='/images/shop.jpg' alt='' onclick='insertGoods()'>\n" +
							"\t\t\t\t</div>"
					html+="</div>"

				}
				$("#imgId").html(cc)
				$(".detailsShp").html(html)
            }
		})
    }
    //添加商品
    function insertGoods(){

        $.ajax({
            url:'/details/querySkuById',
            type:'post',
            data:{skuId:[[${param.skuId}]]},
            success:function(result){
                if (result){
                    $.ajax({
                        url:'/details/insertGoods',
                        type:'post',
                        data:{
							shp_id:[[${param.shpid}]],
                            sku_mch:result.sku_mch,
                            tjshl:$("[name='num']").val(),
                            sku_id:result.skuId,
                            shp_tp:result.shp_tp,
                            kcdz:result.kcdz,
							skuJg:result.jg
                        },
                        success:function(result){
                            alert("添加成功")
                        },error:function () {
                            alert("失败了")
                        }
                    })
                }
            },error:function () {
                alert("失败了")
            }

        })
    }

    function good(){
        var shpid=$("[name='shpid']").val();
        $.ajax({
            url:"/comment",
            type:"post",
            data:{id:shpid},
            success:function(result){
                //alert(result.plnr);
                $.each(result,function(index,obj){
                    //alert(obj);
                    function formatDate(now) {
                        var year=now.getFullYear();
                        var month=now.getMonth()+1;
                        var date=now.getDate();
                        var hour=now.getHours();
                        var minute=now.getMinutes();
                        var second=now.getSeconds();
                        return +year+"-"+month+"-"+date+" "+hour+":"+minute+":"+second;
                    }
                    var d=new Date(obj.plshj);
                    var tt =  formatDate(d)
                    $(".btm").append("<img src="+obj.img+" width='66'>")
                    $(".btm").append(obj.yh_mch)
                    $(".btm").append("<br/>"+obj.plnr+"<br/>")
                    $(".btm").append("<font color='red'>"+tt+"     "+obj.shp_mch+"</font><br/>")
                })
            },
            error:function(){
                alert("失败了");
            }
        })
    }
    //新增评论
    function add(){
        $.ajax({
            url:"/rules",
            type:"post",
            data:$("form").serialize(),
            success:function(){
                alert("成功了");
            },
            error:function(){
                alert("失败了");
            },
        })
    }
    function onshowtwo(){
        $(".cart_pro").show();
        $.ajax({
            url:"/shoppingcart",
            type:"post",
            success:function(result){
                //  data.shp_tp.substring()
                var count = "";
                $.each(result   ,function(index,data){
               count+="<div class=\"one\" >";
               count+="<img src="+data.shp_tp+" width='66px' height='66px'>";
               count+="<span>"+data.sku_mch+"</span><br/>";
               count+="<span><b>"+data.hj+"</b><a href='javascript:deleteaa("+data.Id+")'>删除</a></span><br/>";
               count+="</div>";
           })
          $(".cart_pro").html(count)
          },
          error:function(){
           alert("失败了");
          }
        })
    }
    function onhidetwo(){
        $(".cart_pro").hide();
    }



</script>
</html>