<!DOCTYPE html>
<html lang="en" xmlns:margin-top="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" href="/css/css.css">
    <script src="/js/jquery-1.7.2.min.js"></script>
</head>
<body>
<div class="top">
    <div class="top_text">
        <a href="">用户登录</a>
        <a href="">用户注册</a>
        <a href="">供应商登录</a>
        <a href="">供应商注册</a>
    </div>
</div>
<div class="search searchBac">
    <div >
        <img src="//img20.360buyimg.com/da/jfs/t1/25721/26/6114/78958/5c46b6e6E9f92dd9c/1fed08d41af49eb5.gif?t=1548322264151" style="display: block; width: 150px; height: 150px;">
        <img src="http://img13.360buyimg.com/cms/jfs/t1/22859/29/5316/124906/5c3c09a1Ebb686920/288234ebd611e86f.jpg" border="0" usemap="#Map" title="20181229元旦旗舰店-添加新品-调排行榜_02.jpg">
    </div>

    <div class="card">
        <a href="">购物车<div class="num">0</div></a>

    </div>
</div>
<div class="menu">
    <div class="nav">
        <div class="navs">
            <div class="left_nav">
                <a href="//www.jd.com/allSort.aspx">全部商品分类</a>
                <div class="nav_mini" style="display:none">
                    <ul>
                        <li>
                            <a href="">家用电器</a>
                            <div class="two_nav">
                                <a href="">11111</a>
                                <a href="">11111</a>
                                <a href="">11111</a>
                                <a href="">11111</a>
                                <a href="">11111</a>
                                <a href="">11111</a>
                                <a href="">11111</a>
                                <a href="">11111</a>
                                <a href="">11111</a>
                                <a href="">11111</a>
                                <a href="">11111</a>
                            </div>
                        </li>
                        <li><a href="">手机、数码、通信</a></li>
                        <li><a href="">电脑、办公</a></li>
                        <li><a href="">家具、家居、家装</a></li>
                        <li><a href="">男装、女装、内衣</a></li>
                        <li><a href="">个户化妆</a></li>
                        <li><a href="">鞋靴</a></li>
                        <li><a href="">户外运动</a></li>
                        <li><a href="">汽车</a></li>
                        <li><a href="">母婴</a></li>
                        <li><a href="">食品</a></li>
                        <li><a href="">营养保健</a></li>
                        <li><a href="">图书</a></li>
                        <li><a href="">彩票</a></li>
                        <li><a href="">理财</a></li>
                    </ul>
                </div>
            </div>
            <ul>
                <li><a href="">服装城</a></li>
                <li><a href="">美妆馆</a></li>
                <li><a href="">超市</a></li>
                <li><a href="">全球购</a></li>
                <li><a href="">闪购</a></li>
                <li><a href="">团购</a></li>
                <li><a href="">拍卖</a></li>
                <li><a href="">金融</a></li>
                <li><a href="">智能</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="Dbox">
    <div class="box">
        <div class="left">
            <div class="timg"><img src="/images/img_5.jpg" alt=""></div>
            <div class="timg2">
                <div class="lf"><img src="/images/lf.jpg" alt=""></div>
                <div class="center">
                    <span><img src="/images/icon_2.jpg" alt=""></span>
                    <span><img src="/images/icon_3.jpg" alt=""></span>
                    <span><img src="/images/icon_2.jpg" alt=""></span>
                    <span><img src="/images/icon_3.jpg" alt=""></span>
                    <span><img src="/images/icon_2.jpg" alt=""></span>
                </div>
                <div class="rg"><img src="/images/rg.jpg" alt=""></div>
            </div>
            <div class="goods"><img src="/images/img_6.jpg" alt=""></div>
        </div>
        <div class="cent">
            <div class="title">海信炫彩4K智能电视（黑色）</div>
            <div class="bg">
                <p>市场价：<strong>￥1099.00</strong></p>
                <p>促销价：<strong>￥1099.00</strong></p>
            </div>
            <div class="clear">
                <div class="min_t">选择版本：</div>
                <div class="min_mx" onclick=func($(this),'0')>55英寸活动中1</div>
                <div class="min_mx" onclick=func($(this),'0')>55英寸活动中2</div>
                <div class="min_mx" onclick=func($(this),'0')>55英寸活动中3</div>
                <div class="min_mx" onclick=func($(this),'0')>55英寸活动中4</div>
                <div class="min_mx" onclick=func($(this),'0')>55英寸活动中5</div>
                <div class="min_mx" onclick=func($(this),'0')>55英寸活动中6</div>
            </div>
            <div class="clear">
                <div class="min_t" onclick=func($(this),'1')>服务：</div>
                <div class="min_mx" onclick=func($(this),'1')>服务1号1</div>
                <div class="min_mx" onclick=func($(this),'1')>服务二号1112</div>
                <div class="min_mx" onclick=func($(this),'1')>55英服务二号1111寸活动中3</div>
                <div class="min_mx" onclick=func($(this),'1')>4</div>
                <div class="min_mx" onclick=func($(this),'1')>呃呃呃5</div>
                <div class="min_mx" onclick=func($(this),'1')>55英寸活动中6</div>
            </div>
            <div class="clear" style="margin-top:20px;">
                <div class="min_t" style="line-height:36px">数量：</div>
                <div class="num_box">
                    <input type="text" name="num" value="1" style="width:40px;height:32px;text-align:center;float:left">
                    <div class="rg">
                        <img src="/images/jia.jpg" id='jia' alt="">
                        <img src="/images/jian.jpg" id='jian' alt="">
                    </div>
                </div>
            </div>
            <div class="clear" style="margin-top:20px;">
                <img src="/images/mai.jpg" alt="">
                <img src="/images/shop.jpg" alt="">
            </div>
        </div>
    </div>
</div>
<div class="Dbox1">
    <div class="boxbottom">
        <div class="top">
            <span>商品详情</span>
            <span>评价</span>
        </div>
        <div class="btm">
            我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我
        </div>
    </div>
</div>
<div class="footer">
    <div class="top"></div>
    <div class="bottom"><img src="/images/foot.jpg" alt=""></div>
</div>
</body>
</html>