<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/css/css.css">
    <script th:src="@{~/common/myJs.jsp}"></script>
</head>
<body>
<input type="hidden" name="aaaId" th:value="${id}">
<input type="hidden" name="bbbid" th:value="${class2Id}">
<div class="top">
    <div class="top_text">
        <a href="">用户登录</a>
        <a href="">用户注册</a>
        <a href="">供应商登录</a>
        <a href="">供应商注册</a>
    </div>
</div>
<div class="top_img">
    <img src="/images/top_img.jpg" alt="">
</div>
<div class="search">
    <div class="logo"><img style="width:100px" src="/images/33.gif" alt=""></div>
    <div class="search_on">
        <div class="se">
            <input type="text" name="search" class="lf">
            <input type="submit" class="clik" value="搜索">
        </div>
        <div class="se">
            <a href="">取暖神奇</a>
            <a href="">1元秒杀</a>
            <a href="">吹风机</a>
            <a href="">玉兰油</a>
        </div>
    </div>
</div>

<!--筛选阶段-->
<div class="filter">
   <div id="leixId"></div>    <!--  查询  商品名  类型  -->
</div>

<div class="menu">
    <div class="nav">
        <div class="navs">
            <div class="left_nav">
                全部商品分类
                <div class="nav_mini">
                    <ul id="success">

                    </ul>
                </div>
            </div>
            <ul id="uu">
            </ul>
        </div>
    </div>
</div>
<div class="Sscreen">
    <div class="title">
        平板电视 商品筛选 共1205个商品
    </div>
    <div class="list">
        <div id="skt">
            <span>品牌：</span>
            <span id="a_span">
            </span>
        </div>
    </div>
    <div class="list">
        <div id="jiangeshow">
            <span>价格：</span>
            <a href="###" onclick="getPrice(0,999,1)">0-999</a>
            <a href="###" onclick="getPrice(1000,1999,2)">1000-1999</a>
            <a href="###" onclick="getPrice(2000,2999,3)">2000-2999</a>
            <a href="###" onclick="getPrice(3000,3999,4)">3000-3999</a>
            <a href="###" onclick="getPrice(4000,4999,5)">4000-4999</a>
            <a href="###" onclick="getPrice(5000,5999,6)">5000-5999</a>
            <a href="###" onclick="getPrice(6000,6999,7)">6000-6999</a>
            <a href="###" onclick="getPrice(7000,20000,8)">7000--20000</a>
        </div>
    </div>
    <div class="list">
        <!--id="list_beas"-->
        <span class="list_span"  onclick="getSearch(1)">销量</span>
        <span class="list_span" onclick="getSearch(2)">价格</span>
        <span class="list_span">评论数</span>
        <span class="list_span" onclick="getSearch(3)">上架时间</span>
    </div>
</div>

<div class="Sbox">

</div>

<div class="footer">
    <div class="top"></div>
    <div class="bottom"><img src="/images/foot.jpg" alt=""></div>
</div>
</body>
<script type="text/javascript">
 $(function(){

     //queryBrand()
     init();
     //queryThird();
     getTitle();
     search();
     getFiltrate();
 })
 var class1=$("[name='aaaId']").val();
 var class2=$("[name='bbbid']").val();
 function getTitle(){
     $.ajax({
         url:"/tit/getTitle",
         type:"POST",
         success:function(pageUtil){
             var count=''
             $.each(pageUtil,function (index,obj) {
                 count +="<li><a href='/tit/toshow?name="+obj.href+"'><font size='4px'>"+obj.text+"</font></a></li>"
             })
             $("#uu").append(count)
         },
         error:function(){
             alert("失败了");
         }
     });
 }
 /*function aaa(){
     $.ajax({
         url:"/jianShow/aaa",
         type:"post",
         data:{id:$("[name='aaaId']").val()},
         success:function(result){
             var html="";
             for (var i = 0; i < result.length; i++) {
                 alert("123456");
                 alert(result[i].sh_tp);
                 html+="<div class='list'>"
                 html+="<div class='img' onclick='getDetails("+result[i].ppId+")' style='width:200px;height:180px;float:left'><img width='180' height='180'  src="+result[i].sh_tp+"></div>"
                 html+="<div class='price'>" +"￥"+ result[i].jg + "</div>"
                 html+="<div >" + result[i].shp_mch + "</div>"
                 html+="<div >" + result[i].shxm_mch + "" + result[i].shxzh + " </div>"
                 html+="<div >" + result[i].kcdz + "</div>"
                 html+="<div >"+"月销量:" + result[i].sku_xl + "</div>"
                 html+="</div>"
             }
             $(".Sbox").html(html)
         },
         error:function(){

             alert("出错了!!!!");
         }
     })

 }*/

 /**
  *查询
  */
 function search(){
     if (class1 !=null && class1 !="" ) {
         $.ajax({
             url:'/retrieve/search',
             data:{"flbh1":class1},
             success:function (result) {
                 var html="";
                 for (var i = 0; i < result.length; i++) {
                     html+="<div class='list'>"
                     html+="<div class='img' onclick='getDetails("+result[i].ppId+")' style='width:200px;height:180px;float:left'><img width='180' height='180'  src="+'/images/'+result[i].sh_tp+" ></div>"
                     html+="<div class='price'>"+"￥" + result[i].jg + "</div>"
                     html+="<div >" + result[i].shp_mch + "</div>"
                     html+="<div >" + result[i].shxm_mch + "" + result[i].shxzh + " </div>"
                     html+="<div >" + result[i].kcdz + "</div>"
                     html+="<div >"+"月销量:" + result[i].sku_xl + "</div>"
                     html+="</div>"
                 }
                 $(".Sbox").html(html)
             }
         })
     }else if(class2 !=null && class2 !="" ){
         $.ajax({
             url:'/retrieve/search',
             data:{"flbh2":class2},
             success:function (result) {
                 console.log(result);
                 var html="";
                 for (var i = 0; i < result.length; i++) {
                     html+="<div class='list'>"
                     html+="<div class='img' onclick='getDetails("+result[i].ppId+","+result[i].sku_id+")' style='width:200px;height:180px;float:left'><img width='180' height='180'  src= "+'/images/'+result[i].sh_tp+" ></div>"
                     html+="<div class='price'>"+"￥" + result[i].jg + "</div>"
                     html+="<div >" + result[i].shp_mch + "</div>"
                     html+="<div >" + result[i].shxm_mch + "" + result[i].shxzh + " </div>"
                     html+="<div >" + result[i].kcdz + "</div>"
                     html+="<div >"+"月销量:" + result[i].sku_xl + "</div>"
                     html+="</div>"
                 }
                 $(".Sbox").html(html)

             }
         })
     }

 }
 function getPrice(startPrice,endPrice,msg){
     $.ajax({
         url:'/retrieve/search',
         data:{startPrice:startPrice,endPrice:endPrice,flbh2:class2},
         success:function (result) {
             var html="";
             for (var i = 0; i < result.length; i++) {
                 html+="<div class='list'>"
                 html+="<div class='img' onclick='getDetails("+result[i].ppId+")' style='width:200px;height:180px;float:left'><img width='180' height='180'  src="+'/images/'+result[i].sh_tp+" ></div>"
                 html+="<div class='price'>" +"￥"+ result[i].jg + "</div>"
                 html+="<div >" + result[i].shp_mch + "</div>"
                 html+="<div >" + result[i].shxm_mch + "" + result[i].shxzh + " </div>"
                 html+="<div >" + result[i].kcdz + "</div>"
                 html+="<div >"+"月销量:" + result[i].sku_xl + "</div>"
                 html+="</div>"
             }
             $(".Sbox").html(html)
         }
     })
     if (msg ==1) {
         $(".filter").append(" > "+"0-999");
     }else if(msg ==2){
         $(".filter").append(" > "+"1000-1999");
     }else if(msg ==3){
         $(".filter").append(" > "+"2000-2999");
     }else if(msg ==4){
         $(".filter").append(" > "+"3000-3999");
     }else if(msg ==5){
         $(".filter").append(" > "+"4000-4999");
     }else if(msg ==6){
         $(".filter").append(" > "+"5000-5999");
     }else if(msg ==7){
         $(".filter").append(" > "+"6000-6999");
     }else if(msg ==8){
         $(".filter").append(" > "+"7000-20000");
     }
    $("#jiangeshow").remove();

 }
//品牌筛选
 function getTopPp(id){
     $.ajax({
         url:'/retrieve/getTopPp',
         data:{ppId:id},
         success:function (result) {
             var html="<span id='+result.id+'>"+result.ppmch+"</span>";
             $(".filter").append(" > "+html)
             if (result != null){
                 $("#skt").remove();
             }
         }
     })
     $.ajax({
         url:'/retrieve/search',
         data:{"flbh2":class2,ppId:id},
         success:function (result) {
             var html="";
             for (var i = 0; i < result.length; i++) {
                 html+="<div class='list'>"
                 html+="<div class='img' onclick='getDetails("+result[i].ppId+")' style='width:200px;height:180px;float:left'><img width='180' height='180'  src="+'/images/'+result[i].sh_tp +" ></div>"
                 html+="<div class='price'>" + result[i].jg + "</div>"
                 html+="<div >" + result[i].shp_mch + "</div>"
                 html+="<div >" + result[i].shxm_mch + "" + result[i].shxzh + " </div>"
                 html+="<div >" + result[i].kcdz + "</div>"
                 html+="<div >"+"月销量:" + result[i].sku_xl + "</div>"
                 html+="</div>"
             }
             $(".Sbox").html(html)

         }
     })
 }

 function init(){
     if (class1 != null && class1 !="") {
         $.ajax({
             url:'/retrieve/getMarkById',
             data:{id:class1},
             success:function (result) {
                 var html="";
                 $.each(result,function(index,obj){
                     html+='<a href="###" onclick="getTopPp('+obj.id+')"  value="'+obj.id+'">'+obj.ppmch+'</a>'+'   ';
                 })
                 $("#a_span").html(html);
             }
         })
     }else if (class2 != null && class2 !=""){
         $.ajax({
             url:'/retrieve/getMarkByIdClass2',
             data:{id:class2},
             success:function (result) {
                 var html="";
                 $.each(result,function(index,obj){
                     html+='<a href="###" onclick="getTopPp('+obj.id+')" value="'+obj.id+'">'+obj.ppmch+'</a>'+'   ';
                 })
                 $("#a_span").html(html);
             }
         })
     }
 }
 //  查询  商品名
 function queryThird(){
     $.ajax({
         url:"/jianShow/queryThird",
         type:"post",
         data:{id:class1},
         success:function(result){
             console.log("------------"+result);
             var arr="";
             arr+="<font size='5px' color='red'>"+result.flmch1+"</font>"+"  ";
             $("#leixId").html(arr);      //往品牌div赋值
         },
         error:function(){

             alert("出错了!!!!");
         }
     })
 }
 function getFiltrate(){
     var aId=[[${param.class1Id}]]
     var bId=[[${param.class2Id}]]
     $.ajax({
         url:"/retrieve/getFiltrate",
         type:"post",
         data:{flbh1:aId,flbh2:bId},
         success:function(result){
             var span = "<span>" + result.class1Name + "  >  " + result.class2Name + "</span>"
             $(".filter").html(span)
         },
         error:function(){
             alert("出错了!!!!");
         }
     })
 }

 //查询品牌
 function queryBrand(){

     $.ajax({

         url:"/jianShow/queryPrice",
         type:"post",
         data:{id:8},

         success:function(result){
             var arr="";
             for(var i=0;i<result.length;i++){
                 arr+="<a href='result[i].id'>"+result[i].ppmch+"</a>"+"  ";
             }
             $("#priceId").html(arr);      //往品牌div赋值
         },
         error:function(){

             alert("出错了!!!!");
         }
     })
 }
 /* ------------------------------*/
function getDetails(id,sku_id){
    location.href="/details/detailsByCpId?shpid="+id+"&&skuId="+sku_id;
}
 function getSearch(param){
     if (param ==1 && class1 != null && class1 !=''){
         $.ajax({
             url:'/retrieve/search',
             data:{skuXl:param,flbh1:class1},
             success:function (result) {
                 var html="";
                 for (var i = 0; i < result.length; i++) {
                     html+="<div class='list'>"
                     html+="<div class='img' onclick='getDetails("+result[i].ppId+")' style='width:200px;height:180px;float:left'><img width='180' height='180'  src="+'/images/'+esult[i].sh_tp+" ></div>"
                     html+="<div class='price'>" + result[i].sku_jg + "</div>"
                     html+="<div >" + result[i].shp_mch + "</div>"
                     html+="<div >" + result[i].shxm_mch + "" + result[i].shxzh + " </div>"
                     html+="<div >" + result[i].kcdz + "</div>"
                     html+="<div >"+"月销量:" + result[i].sku_xl + "</div>"
                     html+="</div>"
                 }
                 $(".Sbox").html(html)

             }
         })
     }else  if (param ==1 && class2 != null && class2 !=''){
         $.ajax({
             url:'/retrieve/search',
             data:{skuXl:param,flbh2:class2},
             success:function (result) {
                 var html="";
                 for (var i = 0; i < result.length; i++) {
                     html+="<div class='list'>"
                     html+="<div class='img' onclick='getDetails("+result[i].ppId+")' style='width:200px;height:180px;float:left'><img width='180' height='180'  src="+'/images/'+result[i].sh_tp+" ></div>"
                     html+="<div class='price'>" + result[i].jg + "</div>"
                     html+="<div >" + result[i].shp_mch + "</div>"
                     html+="<div >" + result[i].shxm_mch + "" + result[i].shxzh + " </div>"
                     html+="<div >" + result[i].kcdz + "</div>"
                     html+="<div >"+"月销量:" + result[i].sku_xl + "</div>"
                     html+="</div>"
                 }
                 $(".Sbox").html(html)
             }
         })
     }else  if (param ==2 && class1 != null && class1 !=''){
         $.ajax({
             url:'/retrieve/search',
             data:{price:param,flbh1:class1},
             success:function (result) {
                 var html="";
                 for (var i = 0; i < result.length; i++) {
                     html+="<div class='list'>"
                     html+="<div class='img' onclick='getDetails("+result[i].ppId+")' style='width:200px;height:180px;float:left'><img width='180' height='180'  src="+'/images/'+result[i].sh_tp+" ></div>"
                     html+="<div class='price'>" + result[i].jg + "</div>"
                     html+="<div >" + result[i].shp_mch + "</div>"
                     html+="<div >" + result[i].shxm_mch + "" + result[i].shxzh + " </div>"
                     html+="<div >" + result[i].kcdz + "</div>"
                     html+="<div >"+"月销量:" + result[i].sku_xl + "</div>"
                     html+="</div>"
                 }
                 $(".Sbox").html(html)

             }
         })
     }else  if (param ==2 && class2 != null && class2 !=''){
         $.ajax({
             url:'/retrieve/search',
             data:{price:param,flbh2:class2},
             success:function (result) {
                 var html="";
                 for (var i = 0; i < result.length; i++) {
                     html+="<div class='list'>"
                     html+="<div class='img' onclick='getDetails("+result[i].ppId+")' style='width:200px;height:180px;float:left'><img width='180' height='180'  src="+'/images/'+result[i].sh_tp +" ></div>"
                     html+="<div class='price'>" + result[i].jg + "</div>"
                     html+="<div >" + result[i].shp_mch + "</div>"
                     html+="<div >" + result[i].shxm_mch + "" + result[i].shxzh + " </div>"
                     html+="<div >" + result[i].kcdz + "</div>"
                     html+="<div >"+"月销量:" + result[i].sku_xl + "</div>"
                     html+="</div>"
                 }
                 $(".Sbox").html(html)

             }
         })
     }else  if (param ==3 && class1 != null && class1 !=''){
         $.ajax({
             url:'/retrieve/search',
             data:{creatTime:param,flbh1:class1},
             success:function (result) {
                 var html="";
                 for (var i = 0; i < result.length; i++) {
                     html+="<div class='list'>"
                     html+="<div class='img' onclick='getDetails("+result[i].ppId+")' style='width:200px;height:180px;float:left'><img width='180' height='180'  src="+'/images/'+result[i].sh_tp+"></div>"
                     html+="<div class='price'>" + result[i].jg + "</div>"
                     html+="<div >" + result[i].shp_mch + "</div>"
                     html+="<div >" + result[i].shxm_mch + "" + result[i].shxzh + " </div>"
                     html+="<div >" + result[i].kcdz + "</div>"
                     html+="<div >"+"月销量:" + result[i].sku_xl + "</div>"
                     html+="</div>"
                 }
                 $(".Sbox").html(html)

             }
         })
     }
     else  if (param ==3 && class2 != null && class2 !=''){
         $.ajax({
             url:'/retrieve/search',
             data:{creatTime:param,flbh2:class2},
             success:function (result) {
                 var html="";
                 for (var i = 0; i < result.length; i++) {
                     html+="<div class='list'>"
                     html+="<div class='img' onclick='getDetails("+result[i].ppId+")' style='width:200px;height:180px;float:left'><img width='180' height='180'  src="+'/images/'+result[i].sh_tp +" ></div>"
                     html+="<div class='price'>" + result[i].jg + "</div>"
                     html+="<div >" + result[i].shp_mch + "</div>"
                     html+="<div >" + result[i].shxm_mch + "" + result[i].shxzh + " </div>"
                     html+="<div >" + result[i].kcdz + "</div>"
                     html+="<div >"+"月销量:" + result[i].sku_xl + "</div>"
                     html+="</div>"
                 }
                 $(".Sbox").html(html)

             }
         })
     }

 }
</script>
</html>