<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Insert title here</title>

    <link rel="stylesheet" href="/js/loginAngRegister/css/base.css"/>
    <link rel="stylesheet" href="/js/loginAngRegister/css/login.css"/>
    <link rel="stylesheet" href="/js/layer/theme/default/layer.css"/>
</head>
<body>
<div id="main">
    <div class="container">
        <div class="bgPic"><img src="/js/loginAngRegister/img/register/b3_1.jpg" alt=""/></div>
        <div class="register">
            <div class="title">
                <span>登录</span>
                <a href="register.html">去注册</a>
            </div>
            <form autocomplete="off" id="form">
                <div class="default">
                    <p>请输入用户名或手机号码</p>
                    <input id="uname" name="yhMch" th:value="${yhMch}"  data-form="uname" type="text" placeholder="用户名/手机"/>
                </div>
                <div class="default">
                    <p>请输入账号密码</p>
                    <input id="upwd" name="yhMm" th:value="${yhMm}" data-form="upwd" type="password" placeholder="密码"/>
                </div>
                <div class="submit">
                    <div class="notice">
                        <div class="box_01_both_1">
                            <input type="checkbox" class="box_01_box" name="rememberPwd" th:checked="${yhMm}==null?'false':'checked'">记住密码 &nbsp;
                            <input type="checkbox" id="loginCheckedId" class="box_01_box" onchange="autoMaster()">自动登录</div>
                    </div>
                    <div class="default">
                        <div class="box_01_both_1">
                            <a href="/toPhoneLogin"><font size="3px">手机号登录</font></a>
                        </div>
                    </div>
                    <input type="button" class="s_hover" value="登录" onclick="submitForm()">
                </div>
            </form>
            <div class="other_login">
                <div class="log">
                    <span>社交账号登录</span>
                </div>
                <div class="icon">
                    <ul>
                        <li data-log="icon" class="i_hover">
                            <img data-icon="wx" src="/js/loginAngRegister/img/register/wx.png" alt=""/>
                            <span class="prompt" >微信登录</span>
                        </li>
                        <li data-log="icon" class="i_hover">
                            <img data-icon="qq" src="/js/loginAngRegister/img/register/qq.png" alt=""/>
                            <span class="prompt" >QQ登录</span>
                        </li>
                        <li data-log="icon" class="i_hover">
                            <img data-icon="wb" src="/js/loginAngRegister/img/register/wb.png" alt=""/>
                            <span class="prompt" >微博登录</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="footer">
    </div>
</div>
<script src="/js/jquery-2.0.3.min.js"></script>
<script src="/js/header.js"></script>
<script src="/js/login.js"></script>
<script src="/js/layer/layer.js"></script>

<script th:inline="javascript">
    $(function(){

        asd();
      //  autoMaster();
    })

    //自动登录
    function autoMaster(){

        if($("#loginCheckedId").prop("checked")==true){
            setTimeout(function () {
                if ($("[name='yhMch']").val() != null && $("[name='yhMm']").val() != null) {

                    submitForm();   //登录
                }
            }, 1050);
        }
    }
    //统一 存成一个cookie
     function asd(){   //[[${session.test}]]

        if(document.cookie != null){
            //之前是在服务器操作cookie  现在在浏览器操作cookie
            var str=document.cookie.split(";");
            console.log(str);   //获去当前cookie的  cookie值
            $.each(str,function (i,obj) {
                var arr=obj.split("=");
                if (arr[0].trim()=="remember_pwd") {
                    var a=arr[1].split("comjk1807");
                        console.log(a+"===>aaa")
                    if(a[0]!=null &&a[1]!=null){
                        $("[name='yhMch']").val(a[0])
                        $("[name='yhMm']").val(a[1])
                       if($("[name='yhMm']").val()!=null){
                            $("[name='rememberPwd']").prop("checked",true);
                       }
                    }
                }
            })
        }
     }

    function submitForm(){
        $.ajax({
            url:"/getQuery",
            type:"post",
            data:$("#form").serialize(),

            success:function(result){

                if(result==1){
                    location.href="/toindex";   //账号密码正确
                    asd();
                }else{

                    layer.msg("用户名或密码错误!!!!")
                }
            }
        })
    }




</script>
</body>
</html>

